<%-include('../partials/header')-%> 
<div class="main-left">
    <%if(methods){%>
        <table class="table table-striped">
        <thead>
            <th>Name</th>
            <th>Parameters</th>
            <th>Category</th>
            <th>Action</th>
            <th>Delete</th>
        </thead>
        <%methods.forEach(function(method){%>
        <tr>
            <td><a href="/methods/<%=method._id%>"><%=method.name%></a></td>
            <td><%=method.params%></td>
            <td><%=method.category%></td>
            <td><%=method.action%></td>
            <td><form action="/methods/<%=method._id%>?_method=DELETE" method = "POST">
                <button type="submit"><i class="far fa-trash-alt"></i></button>
            </form></td>
        </tr>
        <%})%>
        </table>
    <%}%>
</div>
<%-include('../partials/sidebar')-%> 
<%-include('../partials/footer')-%>