<%-include('partials/header')-%> 

<div class="main-left">
    <h2 class="center">Can you use this method?</h2>
    <p class="center"><a href="methods/<%=method._id%>"><%=method[0].name%></a></p>
</div>
<%-include('partials/sidebar')-%> 
<%-include('partials/footer')-%>